<%= link_to "Stock", stocks_path %>
<h1>Stores</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Actions</th>
  </tr>
  <% @stores.each do |store| %>
    <tr>
      <td><%= store.name %></td>
      <td><%= store.location %></td>
      <td>
        <%= link_to "Show", store %>
        <%= link_to "Edit", edit_store_path(store) %>
         <%= form_for store, url: store_path(store), method: :delete, data: { confirm: 'Are you sure you want to delete this product?' } do |f| %>
        <%= f.submit 'Delete' %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to "New Store", new_store_path %>
